
body{
    background-image: url("https://i.redd.it/vdhgv54ndnj21.png");

    background-size:1400px 350px;
    background-repeat: no-repeat;


    
}
a:link{
    text-decoration: none;
}

a:visited{
    color: white;
    text-decoration: none;
    font-size:30px;
    display:inline;
    
}

a:hover{
    text-decoration: underline;
}
a:active{
   
    text-decoration:underline;
}


.div1{
display: grid;
grid-template-columns: 100px 100px 100px;
gap: 30px;
justify-content:end;
justify-items: center;
font-size: 20px;
/*color: white;*/
};

.perant{

    display: grid;
    grid-template-columns: 300px 300px;
    gap: 50px;

}
.start{
    justify-self: end;
}

.p{
position: relative;
top :30px;
left: 50px;
 color: rgb(65, 4, 43);
 font-size: 70px;
 font-family: 'Times New Roman', Times, serif;
 font-weight: bold;
 font-style: italic;
 text-shadow:  0 0 10px white,0 0 5px white;
}

#theme{
    height: 50px;
    width: 50px;
    cursor: pointer;
    position: sticky;
    bottom:0;
    left: 0;
   
}

.change{
    height:320px !important;
    width: 320px !important;   
}

.change_1{
    height:40px !important;
    width: 40px !important;   
    border: 2px solid black !important;
}